/* HEADER */

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    /* background-color: #cacaca; */
}

.navbar-ab {
    margin-bottom: 0;
}

.navbar-brand {
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.navbar-toggle .icon-bar {
    background-color: black;
}

.nav a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* SLIDER */

#myCarousel img {
    height: 400px;
    object-fit: cover;
    width: 100%;
}

@media (min-width: 992px) {
    #myCarousel img {
        height: 800px;
    }
}


/* SECTION 2 */

#boxHome {
    padding-top: 40px;
    padding-bottom: 60px;
    font-size: 22px;
}

#boxAboutUs:nth-of-type(1) {
    background: #cacaca;
}

.title {
    display: inline-block;
    margin-top: 1em;
    font-size: 25px;
    margin-bottom: 1em;
    border-bottom: 2px solid yellow;
    padding-bottom: 10px;
}

#home {
    margin-top: 1em;
    margin-bottom: 2em;
}

.text {
    font-size: 1em;
    width: 100%;
}

.center{
    text-align: center;
}

/* SECTION WOOD */
#wood{
    height: 150px;
    width: 100%;
    background-image: url("timber.jpg");
}

/* SECTION 3 STRENGTHS */

#asset {
    margin-top: 40px;
    display: flex;
}

.slogan {
    display: inline;
    margin: auto;
    margin-top: 1em;
    font-size: 1.5em;
    margin-bottom: 1em;
    border-bottom: 2px solid yellow;
}

.strengths {
    margin-top: 5em;
    text-align: center;
}

.strengths i {
    padding: 15px;
    border-radius: 100%;
    background: yellow;
    transform: scale(1.5);
    margin-bottom: 10px;
}

.circle {
    text-align: center;
    margin: 50px 0;
}

.circle-title {
    font-weight: 900;
    margin: 15px 0;
}

/* SECTION ROOF */
#roof{
    height: 150px;
    width: 100%;
    background-image: url("roof.jpg");
}


/* SECTION 4 */

/* ABOUT */

#boxAboutUs {
    padding-top: 40px;
    padding-bottom: 60px;
    font-size: 22px;
}

#boxAboutUs:nth-of-type(1) {
    background: #cacaca;
}

.title {
    display: inline-block;
    margin-top: 1em;
    font-size: 25px;
    margin-bottom: 1em;
    border-bottom: 2px solid yellow;
    padding-bottom: 10px;
}

#about {
    margin-top: 1em;
    margin-bottom: 2em;
    align-items: center;
}

.text {
    font-size: 1em;
}

.image {
    padding: 2em;
}

.image img {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

@media (min-width: 992px) {
    .image:hover img {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}






/* FOOTER */

#footer {
    background-color: #cacaca;
    padding: 20px 0;
}

.copyright {
    text-align: center;
}




/* CONTACT */


/* SECTION CONTATC */

#contactSite {
    height: 850px;
    background-image: #50504b;
}

#contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.text {
    font-size: 20px;
}

.googleMap h3{
    text-align: center;
}

.googleMap iframe{
    justify-content: flex-start;
}

/* FOOTER */

.copyright {
    padding-top: 10px;
    margin: auto;
}


/* OFFER */


/* SECTION */

#background {
    background-image: url("wood.jpg");
    height: 800px;
    align-content: center;
}

.box {
    margin-top: 80px;
}

.pic {
    margin-bottom: 30px;
}

.pic img {
    height: 250px;
}

.pic img:hover {
    position: relative;
    opacity: 0.5;
    visibility: visible;
}


/* FOOTER */

.copyright {
    padding-top: 10px;
    margin: auto;
}
