/* HEADER */
body{
    font-family: 'Montserrat', sans-serif;
}

header{
    height: 80px;
    width: 100%;
    background-color:white;
}

#menu{
    display: flex;
    margin-top: 30px;
    width: 100%;
    justify-content: space-between;
}

.logo{
    color: black;
    display: inline-block;
    font-size: 16px;
    max-width: 50%;
    text-decoration: none;
}

.nav a{
    text-decoration: none; 
    color: black;
    font-size: 16px;
}

.nav ul li{
    display: inline;
    text-decoration: none;
    margin-right: 5px;
    overflow: hidden;
}

/* SECTION */
#background{
    background-color: #cacaca;
    max-height: 2500px;
    display: flex;
    align-items: center;
}

.box{
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
}

.pic{
    width: 350px;
    height: 250px;
    margin: 5px;
}
.pic p{
    width: 200px;
    text-align: center;
    color: black;
    visibility: hidden;
    position: absolute;
}


.pic img:hover{
    position: relative;
    opacity: 0.5;
    visibility: visible;
}

/* FOOTER */


.copyright{
    padding-top: 10px;
    margin: auto;
}
